:root{
--first-color: #faf6e9;
--second-color: #ece8d9;
--third-color: #fffdf6;
--fourth-color: #494949;
  }

body{
  background-color: var(--third-color);
}

a {
  color: var(--fourth-color);
  text-decoration: none;
}

.App{
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}

.App-header {
  margin: 80px 0;
  text-align: center;
}

.App-header h1{

  color: var(--fourth-color);
  font-family: inherit;
  font-weight: bold;
  font-size: 30px;
}

.App-header p {color: var(--fourth-color);
  font-family: inherit;
  font-size: 10px;}


.App-footer {
  text-align: center;
  margin: 30px 0;
  font-size: 15px;
}

@media (min-width: 0px) and (max-width: 480px) 
{ .App-header {
    margin: 40px 0 0 0;
    padding-top: 20px;
  }

  .App-header h1{
    font-size: 20px;
    margin-top: 10px;
  }
   
.App-header p {
    font-size: 8px;
}
  .App-footer {
    
     font-size: 10px;
}
}
@media (min-width: 481px) and (max-width: 768px) 
{
    .App-header {
      margin: 40px 0 0 0;
      padding-top: 20px;
    }

    .App-header h1 {
      font-size: 25px;
      margin-top: 10px;
    }

    .App-footer {
      font-size: 12px;
    }
  }




