.dictionary section{
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    margin: 40px 60px;
   
    
}

.dictionary input{
    width: 100%;
    border-radius: 5px;
    padding: 6px 10px;
    color: black;
    border: 1px solid var(--fourth-color);
}

.dictionary h1{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.dictionary h2{
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 35px;

}

@media (min-width: 320px) and (max-width: 480px) {
    .dictionary section {
        padding: 20px;
        margin: 20px 20px;
    }

    .dictionary h1 {
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 20px;
        }

        .dictionary h2 {
            font-size: 20px;
    
        }
}

@media (min-width: 481px) and (max-width: 768px){
    .dictionary section {
            padding: 30px;
            margin: 30px 30px;
        }
}

